{
  "openapi": "3.0.0",
  "info": { "version": "1.0.0", "title": "Pawfund API" },
  "servers": [{ "url": "https://api.pawfund.com/v1" }],
  "tags": [],
  "paths": {
    "/register/fundraiser": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "default": "John Animal Shelter"
                        },
                        "email": {
                          "type": "string",
                          "default": "johnshelter@gmail.com"
                        },
                        "contactPerson": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string", "default": "John Doe" },
                            "phone": {
                              "type": "string",
                              "default": "6283137137424"
                            }
                          },
                          "required": ["name", "phone"]
                        },
                        "socialUrl": {
                          "type": "string",
                          "default": "https://instagram.com/johnshelter"
                        },
                        "country": { "type": "string", "default": "Indonesia" },
                        "zipCode": { "type": "string", "default": "53461" },
                        "imageUrl": {
                          "type": "string",
                          "default": "https://pawfund.com/images/0xA7Dd557C3628e35D4CC9618F13Aa94D57FDb7E7C.png"
                        },
                        "walletAddress": {
                          "type": "string",
                          "default": "0xA7Dd557C3628e35D4CC9618F13Aa94D57FDb7E7C"
                        },
                        "role": {
                          "type": "string",
                          "enum": ["FUNDRAISER"],
                          "default": "FUNDRAISER"
                        }
                      },
                      "required": [
                        "name",
                        "email",
                        "contactPerson",
                        "country",
                        "zipCode",
                        "walletAddress",
                        "role"
                      ]
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "email": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "contactPerson.name": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "contactPerson.phone": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "socialUrl": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "country": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "zipCode": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "image": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      }
                    }
                  },
                  "required": ["code", "message", "errors"]
                }
              }
            }
          }
        },
        "parameters": [],
        "summary": "Register Fundraiser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "default": "" },
                  "email": { "type": "string", "default": "" },
                  "contactPerson": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "phone": { "type": "string" }
                    },
                    "required": ["name", "phone"]
                  },
                  "socialUrl": { "type": "string" },
                  "country": { "type": "string" },
                  "zipCode": { "type": "number" },
                  "imageObjectKey": { "type": "string" }
                },
                "required": [
                  "name",
                  "email",
                  "contactPerson",
                  "socialUrl",
                  "country",
                  "zipCode"
                ]
              },
              "examples": {}
            }
          }
        },
        "operationId": "post_register-supporter-1"
      }
    },
    "/auth/me": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "default": "SUCCESS" },
                    "message": {
                      "type": "string",
                      "default": "User data was successfully retrieved."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string",
                          "default": "0xA7Dd557C3628e35D4CC9618F13Aa94D57FDb7E7C"
                        },
                        "name": {
                          "type": "string",
                          "default": "John Animal Shelter"
                        },
                        "role": {
                          "type": "string",
                          "enum": ["SUPPORTER", "FUNDRAISER"],
                          "default": "FUNDRAISER"
                        },
                        "imageUrl": { "type": "string" }
                      },
                      "required": ["address"]
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "default": "UNAUTHORIZED" },
                    "message": { "type": "string" }
                  },
                  "required": ["code"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer {token}" },
            "required": true
          }
        ],
        "summary": "Get Me",
        "operationId": "get_auth-me"
      }
    },
    "/fundraiser/profile": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "email": { "type": "string" },
                        "contactPerson": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string" },
                            "phone": { "type": "string" }
                          },
                          "required": ["name", "phone"]
                        },
                        "socialUrl": { "type": "string" },
                        "country": { "type": "string" },
                        "zipCode": { "type": "number" },
                        "imageUrl": { "type": "string" },
                        "walletAddress": { "type": "string" }
                      },
                      "required": [
                        "name",
                        "imageUrl",
                        "email",
                        "contactPerson",
                        "socialUrl",
                        "country",
                        "zipCode",
                        "walletAddress"
                      ]
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer {token}" },
            "required": true
          }
        ],
        "summary": "My Profile",
        "operationId": "get_fundraiser-profile"
      },
      "patch": {
        "responses": { "200": { "description": "" } },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer {token}" },
            "required": true
          }
        ],
        "summary": "Edit Profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "imageObjectKey": { "type": "string" },
                  "email": { "type": "string" },
                  "contactPerson": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "phone": { "type": "string" }
                    },
                    "required": ["name", "phone"]
                  },
                  "socialUrl": { "type": "string" },
                  "country": { "type": "string" },
                  "zipCode": { "type": "string" }
                },
                "required": [
                  "name",
                  "imageObjectKey",
                  "email",
                  "contactPerson",
                  "socialUrl",
                  "country",
                  "zipCode"
                ]
              }
            }
          }
        },
        "operationId": "patch_fundraiser-profile"
      }
    },
    "/fundraiser/campaigns": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": { "type": "string" },
                          "title": { "type": "string" },
                          "shortDescription": { "type": "string" },
                          "goalAmount": { "type": "number" },
                          "raisedAmount": { "type": "number" },
                          "donorCount": { "type": "number" },
                          "campaignImageUrl": { "type": "string" },
                          "endAt": { "type": "string" },
                          "createdAt": { "type": "string" },
                          "contractAddress": { "type": "string" },
                          "status": {
                            "type": "string",
                            "enum": ["ACTIVE", "COMPLETED", "CANCELED"]
                          }
                        },
                        "type": "object",
                        "required": [
                          "id",
                          "title",
                          "shortDescription",
                          "goalAmount",
                          "raisedAmount",
                          "donorCount",
                          "campaignImageUrl",
                          "status",
                          "contractAddress",
                          "createdAt",
                          "endAt"
                        ]
                      }
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          }
        },
        "parameters": [
          { "in": "query", "name": "search", "schema": { "type": "string" } },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": ["newest", "oldest", "close-to-goal", "most-donated"]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "schema": { "type": "string", "enum": ["active", "completed"] }
          },
          {
            "in": "query",
            "name": "page",
            "schema": { "type": "number", "default": "1" }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": { "type": "number", "default": "10" }
          }
        ],
        "summary": "Campaign List",
        "description": "Endpoint untuk mendapatkan list campaigns",
        "operationId": "get_campaigns-3"
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": { "contractAddress": { "type": "string" } },
                      "required": ["contractAddress"]
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer <jwt>" },
            "required": true
          }
        ],
        "summary": "Create Campaign",
        "operationId": "post_fundraiser-campaigns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "shortDescription": { "type": "string" },
                  "story": { "type": "string" },
                  "goalAmount": { "type": "number" },
                  "endAt": { "type": "string" },
                  "imageObjectKey": { "type": "string" },
                  "country": { "type": "string" },
                  "zipCode": { "type": "string" }
                },
                "required": [
                  "title",
                  "shortDescription",
                  "story",
                  "goalAmount",
                  "endAt",
                  "imageObjectKey",
                  "country",
                  "zipCode"
                ]
              }
            }
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": { "type": "string" },
                          "title": { "type": "string" },
                          "shortDescription": { "type": "string" },
                          "goalAmount": { "type": "number" },
                          "raisedAmount": { "type": "number" },
                          "donorCount": { "type": "number" },
                          "campaignImageUrl": { "type": "string" },
                          "fundraiserImageUrl": { "type": "string" },
                          "endAt": { "type": "string" },
                          "createdAt": { "type": "string" },
                          "contractAddress": { "type": "string" },
                          "status": {
                            "type": "string",
                            "enum": ["ACTIVE", "COMPLETED"]
                          }
                        },
                        "type": "object",
                        "required": [
                          "id",
                          "donorCount",
                          "raisedAmount",
                          "goalAmount",
                          "shortDescription",
                          "title",
                          "campaignImageUrl",
                          "fundraiserImageUrl",
                          "endAt",
                          "createdAt",
                          "contractAddress",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          }
        },
        "parameters": [
          { "in": "query", "name": "search", "schema": { "type": "string" } },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": ["newest", "oldest", "close-to-goal", "most-donated"]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "schema": { "type": "string", "enum": ["recomendation"] }
          },
          {
            "in": "query",
            "name": "page",
            "schema": { "type": "number", "default": "1" }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": { "type": "number", "default": "10" }
          }
        ],
        "summary": "Get List Campaigns",
        "description": "Endpoint untuk mendapatkan list campaigns",
        "operationId": "get_campaigns"
      }
    },
    "/fundraiser/campaigns/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": { "type": "string" },
                        "shortDescription": { "type": "string" },
                        "story": { "type": "string" },
                        "goalAmount": { "type": "number" },
                        "raisedAmount": { "type": "number" },
                        "donorCount": { "type": "number" },
                        "contractAddress": { "type": "string" },
                        "endAt": { "type": "string" },
                        "createdAt": { "type": "string" },
                        "imageUrl": { "type": "string" },
                        "country": { "type": "string" },
                        "zipCode": { "type": "string" }
                      },
                      "required": [
                        "zipCode",
                        "country",
                        "imageUrl",
                        "createdAt",
                        "endAt",
                        "contractAddress",
                        "donorCount",
                        "raisedAmount",
                        "goalAmount",
                        "story",
                        "shortDescription",
                        "title"
                      ]
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": { "type": "string" },
            "required": true
          },
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer {token}" },
            "required": true
          }
        ],
        "summary": "Campaign Detail",
        "operationId": "get_campaigns-1-1"
      }
    },
    "/campaigns/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": { "type": "string" },
                        "shortDescription": { "type": "string" },
                        "story": { "type": "string" },
                        "fundraiser": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string" },
                            "imageUrl": { "type": "string" },
                            "address": { "type": "string" },
                            "id": { "type": "string" }
                          },
                          "required": ["name", "imageUrl", "address", "id"]
                        },
                        "goalAmount": { "type": "number" },
                        "raisedAmount": { "type": "number" },
                        "donorCount": { "type": "number" },
                        "contractAddress": { "type": "string" },
                        "endAt": { "type": "string" },
                        "createdAt": { "type": "string" },
                        "imageUrl": { "type": "string" },
                        "country": { "type": "string" },
                        "zipCode": { "type": "string" },
                        "status": {
                          "type": "string",
                          "enum": ["ACTIVE", "COMPLETED"]
                        },
                        "id": { "type": "string", "description": "uuid" }
                      },
                      "required": [
                        "title",
                        "shortDescription",
                        "story",
                        "fundraiser",
                        "goalAmount",
                        "raisedAmount",
                        "donorCount",
                        "contractAddress",
                        "endAt",
                        "createdAt",
                        "imageUrl",
                        "country",
                        "zipCode",
                        "status",
                        "id"
                      ]
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "summary": "Get Campaign by Address",
        "operationId": "get_campaigns-1"
      }
    },
    "/campaigns/{address}/donors": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "name": { "type": "string" },
                          "address": { "type": "string" },
                          "imageUrl": { "type": "string" },
                          "amount": { "type": "number" },
                          "donatedOn": { "type": "string" }
                        },
                        "type": "object",
                        "required": [
                          "name",
                          "address",
                          "imageUrl",
                          "amount",
                          "donatedOn"
                        ]
                      }
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": ["recent", "top"],
              "default": "recent"
            }
          },
          {
            "in": "path",
            "name": "address",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "summary": "Get Campaign Donors by Address",
        "operationId": "get_campaigns-2",
        "description": "To get a list of everyone who donated to this campaign"
      }
    },
    "/fundraiser/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "email": { "type": "string" },
                        "contactPerson": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string" },
                            "phone": { "type": "string" }
                          },
                          "required": ["name", "phone"]
                        },
                        "socialUrl": { "type": "string" },
                        "country": { "type": "string" },
                        "zipCode": { "type": "number" },
                        "createdAt": { "type": "string" },
                        "imageUrl": { "type": "string" }
                      },
                      "required": [
                        "name",
                        "email",
                        "contactPerson",
                        "socialUrl",
                        "country",
                        "zipCode",
                        "createdAt",
                        "imageUrl"
                      ]
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "summary": "Public Fundraiser Profile",
        "description": "Mendapatkan detail fundraiser untuk publik",
        "operationId": "get_fundraiser-address"
      }
    },
    "/supporter/profile": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "email": { "type": "string" },
                        "walletAddress": { "type": "string" },
                        "imageUrl": { "type": "string" }
                      },
                      "required": ["name", "imageUrl", "email", "walletAddress"]
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer {token}" },
            "required": true
          }
        ],
        "summary": "My Profile",
        "operationId": "get_supporter-profile"
      },
      "patch": {
        "responses": { "200": { "description": "" } },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer {token}" },
            "required": true
          }
        ],
        "summary": "Edit Profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "imageObjectKey": { "type": "string" },
                  "email": { "type": "string" }
                },
                "required": ["name", "imageObjectKey", "email"]
              }
            }
          }
        },
        "operationId": "patch_supporter-profile"
      }
    },
    "/supporter/donations": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "amount": { "type": "number" },
                          "campaign": {
                            "type": "object",
                            "properties": {
                              "title": { "type": "string" },
                              "contractAddress": { "type": "string" }
                            },
                            "required": ["title", "contractAddress"]
                          },
                          "donatedOn": { "type": "string" },
                          "txHash": { "type": "string" }
                        },
                        "type": "object",
                        "required": [
                          "amount",
                          "campaign",
                          "donatedOn",
                          "txHash"
                        ]
                      }
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer {token}" },
            "required": true
          }
        ],
        "summary": "My Donation",
        "operationId": "get_supporter-donations"
      }
    },
    "/fundraiser/campaigns/presign": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "objectKey": { "type": "string" },
                        "url": { "type": "string" }
                      },
                      "required": ["objectKey", "url"]
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer {token}" },
            "required": true
          }
        ],
        "summary": "Presign Campaign Image",
        "operationId": "get_campaigns-4"
      }
    },
    "/uploads/profile-image/presign": {
      "post": {
        "summary": "Presign Profile Image Upload",
        "description": "Generate a presigned URL to upload a profile image for a fundraiser or supporter account. Available to any authenticated wallet, including wallets that have not registered a profile yet. Replaces the previous per-role presign endpoints (/fundraiser/profile/presign, /supporter/presign, /register/presign).",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "default": "PROFILE_IMAGE_UPLOAD_PRESIGNED"
                    },
                    "message": {
                      "type": "string",
                      "default": "Profile image upload presigned successfully."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "objectKey": {
                          "type": "string",
                          "default": "profiles/0198a123-4567-7abc-8123-456789abcdef.jpg"
                        },
                        "url": { "type": "string" }
                      },
                      "required": ["objectKey", "url"]
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "default": "INVALID_ACCESS_TOKEN"
                    },
                    "message": { "type": "string" }
                  },
                  "required": ["code"]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "contentType": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "size": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      }
                    }
                  },
                  "required": ["code", "message", "errors"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer {token}" },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contentType": {
                    "type": "string",
                    "description": "Must be image/jpeg, image/png, or image/webp",
                    "default": "image/jpeg"
                  },
                  "size": {
                    "type": "number",
                    "description": "File size in bytes, between 1 and 5242880",
                    "default": 123456
                  }
                },
                "required": ["contentType", "size"]
              }
            }
          }
        },
        "operationId": "post_uploads-profile-image-presign"
      }
    },
    "/fundraiser/profile/{address}/delete": {
      "delete": {
        "responses": { "200": { "description": "" } },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer {token}" },
            "required": true
          },
          {
            "in": "path",
            "name": "address",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "summary": "Delete Profile",
        "operationId": "delete_fundraiser-profile-address-delete"
      }
    },
    "/supporter/profile/{address}/delete": {
      "delete": {
        "responses": { "200": { "description": "" } },
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": { "type": "string", "default": "Bearer {token}" },
            "required": true
          },
          {
            "in": "path",
            "name": "address",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "summary": "Delete Profile",
        "operationId": "delete_supporter-profile-address-delete"
      }
    },
    "/register/supporter": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string", "default": "John Doe" },
                        "email": {
                          "type": "string",
                          "default": "johndoe@gmail.com"
                        },
                        "walletAddress": {
                          "type": "string",
                          "default": "0xA7Dd557C3628e35D4CC9618F13Aa94D57FDb7E7C",
                          "description": "wallet address"
                        },
                        "imageUrl": {
                          "type": "string",
                          "default": "https://pawfund.com/images/0xA7Dd557C3628e35D4CC9618F13Aa94D57FDb7E7C.png"
                        },
                        "role": {
                          "type": "string",
                          "enum": ["SUPPORTER"],
                          "default": "SUPPORTER"
                        }
                      },
                      "required": ["walletAddress", "email", "name", "role"]
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "email": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      }
                    }
                  },
                  "required": ["code", "message", "errors"]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accessToken",
            "schema": { "type": "string" },
            "required": true,
            "description": "Access token yang didapat setelah `Get Challenge` dan `Verify Signature`"
          }
        ],
        "summary": "Register Supporter",
        "operationId": "post_register-supporter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "default": "John Doe" },
                  "email": { "type": "string", "default": "john@gmail.com" },
                  "imageObjectKey": { "type": "string" }
                },
                "required": ["name", "email"]
              },
              "examples": {}
            }
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "summary": "Verify Signature",
        "description": "Sign message dari challenge yang telah didapat untuk mendapatkan access token",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "default": "SUCCESS" },
                    "message": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accessToken": { "type": "string" },
                        "name": { "type": "string", "default": "John Doe" },
                        "role": {
                          "type": "string",
                          "enum": ["SUPPORTER", "FUNDRAISER"],
                          "default": "SUPPORTER"
                        },
                        "address": {
                          "type": "string",
                          "default": "0xA7Dd557C3628e35D4CC9618F13Aa94D57FDb7E7C"
                        },
                        "imageUrl": {
                          "type": "string",
                          "default": "https://pawfund.com/image/0xA7Dd557C3628e35D4CC9618F13Aa94D57FDb7E7C.png"
                        },
                        "isNotRegistered": { "type": "boolean" }
                      },
                      "required": [
                        "accessToken",
                        "imageUrl",
                        "address",
                        "role",
                        "name",
                        "isNotRegistered"
                      ]
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "signature": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "address": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      }
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "signature": {
                    "type": "string",
                    "description": "Hex hasil sign dari challenge yang didapat"
                  },
                  "message": {
                    "type": "string",
                    "description": "string message given by backend"
                  }
                },
                "required": ["signature", "message"]
              }
            }
          }
        },
        "operationId": "post_auth-verify"
      }
    },
    "/auth/message": {
      "post": {
        "summary": "Get Message",
        "description": "Request nonce untuk nantinya digunakan saat sign.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "default": "SUCCESS" },
                    "message": {
                      "type": "string",
                      "default": "Challenge nonce has been successfully created."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "default": "ovnsdMVfiiEZNSo9deAaueq2JcpE0F1lFazb7S43ORUv7y4UpDbZqGgDKxdEKr0SfWkCSIhRVsElTeK7 MR14NijAAS"
                        }
                      },
                      "required": ["message"]
                    }
                  },
                  "required": ["code", "message", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string", "default": "BAD_REQUEST" },
                    "message": { "type": "string" }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": { "type": "string" },
                    "message": { "type": "string" },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      }
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "public address wallet EVM"
                  }
                },
                "required": ["address"]
              }
            }
          }
        },
        "operationId": "post_auth-message"
      }
    }
  },
  "components": { "securitySchemes": {} },
  "x-readme": { "explorer-enabled": true, "proxy-enabled": true }
}
